
body{
    background-color: beige;
}
.carousel-inner{
    padding: 20px;
    margin: auto;
    width: 100%;
}
.carousel-item img{
    width: 100%;
}
.kepeslap{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    font-size: 100px;
    text-align: center;
    text-align: justify;
    padding: 10px;
    color: rgb(64, 64, 64);
}

footer {
    padding: 2px;
    padding-left: 5%;
    background: #111;
    color: #cfd2d6;
    font-family: 'Stylish';
  }
  footer a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color:#44bae8;
  }
  footer a:hover{
    color: #398799;
  }
  @media (max-width:500px) {
  .footerTartalom{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  }

  .fejlec {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    height: 300px;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    background-image: url("01.jpg");

}

.menu {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: gray;
}

.gomb{
    display: -ms-inline-grid;
    background-color: black;
    height: 50px;
    margin: 10px 5px 10px 5px;
    color: white;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: large;
    transition-duration: 0.5s;
}

.gomb:hover {
    background-color: white;
    color: black;
}

#kep {
  margin-top: -150px;
  height: 200px;
  width: 300px;

}

h1{
  margin-top: 100px;
  font-size: 100px;
}